.navbar {
  display: flex;
  align-items: center;
  /* background-color: #1e6844; */
  padding: 1rem 2rem;
  /* color: white; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: linear-gradient(135deg, #c9e3cd 0%, #e5f3e7 50%, #c9e3cd 100%);
  color: #1e6844;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e6844;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

li a {
      position: relative;
      color: #1e6844;
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.5rem 0;
      transition: all 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0%;
        height: 2px;
        background-color: #f4d400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
        transition: width 0.3s ease;
      }

      &:hover {
        color: #1e6844;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
  .nav-links li a.active-link {
  font-weight: 600;
  color: #1e6844 !important;

}
 .nav-links li a.active-link::after {
  width: 100%;
  background-color: #f4d400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #1e6844;
  }
}


/* 🌐 Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    .nav-links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background: linear-gradient(135deg, #c9e3cd 0%, #e5f3e7 50%, #c9e3cd 100%);
      padding: 1rem;
      margin-top: 1rem;
    }

    .nav-links.active {
      display: flex;
    }

    .hamburger {
       display: block;
       right: 2rem;
       top: 1rem;
       margin-right: 15px;
    }
  }
}
