/* styles.css ou styles globaux */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Corps avec image de fond */
body {
  /*background-image: url('assets/images/hero-cooking1.jpeg');*/
  background: linear-gradient(135deg, #c9e3cd, #e5f3e7);
  color: #ffffff;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

app-footer {
  text-align: center;
  background: linear-gradient(135deg, #c9e3cd 0%, #e5f3e7 50%, #c9e3cd 100%);
  color: #1e6844;
  padding: 1rem;
  box-sizing: border-box;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}